spring:
  application:
    name: reactive-webflux
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/springboot
    username: springboot
    password: springboot
  data:
    r2dbc:
      repositories:
        enabled: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
    export:
      prometheus:
        enabled: true
  observations:
    key-values:
      application: ${spring.application.name}

logging:
  level:
    org.springframework.r2dbc: DEBUG
